.containerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.inputContainerLogin {
    margin-bottom: 1rem;
    width: 20rem;
}

.cadastrese {
    padding: 1rem;
    a {
        color: blue;
    }
}
