.cadastroServicoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cadastroServicoInputs {
    padding-top: 20px;
}

.inputStyles {
    margin: 1rem 0 1rem 0;
}

.inputStyles span label {
    margin-bottom: 5px;
}

.formulario {
    width: 70%;
    margin-top: 2rem;
}

// .butaoFormulario {
   
// }